:root {
  --colorHeadline6: #000000de;
  --colorSubtitle2: #00000099;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.mm-typography {
  font-family: 'Roboto', sans-serif;
}

.mm-headline6 {
  color: var(--colorHeadline6);
  font-size: 20px;
  height: 15px;
  line-height: 16px;
}

.mm-subtitle2 {
  color: var(--colorSubtitle2);
  font-size: 14px;
  height: 10px;
  line-height: 11px;
  margin-top: 12px;
}
